.container--header{
    position: relative;
    overflow: scroll;
}

.container--desktop-menu{
    /* positioning, layout*/
    position: relative;
    display: none;
}

.container--mobile-menu{
    height: 100%;
    position: relative;
    
}

.mobile--nav-bar{
    /* positioning, layout*/
    position: sticky;
    top: 0;
    z-index: 200;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    /* typography, colors */
    background-color: #181433;
    color: #fff;
}

.mobile--nav-bar > h1{
    /* typography */
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.mobile--nav-links{
    /* postioning, layout */
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -1800px;
    /* typography, colors */
    background-color: #181433;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    list-style: none;

    /* transition */
    transition: all 1s ease-in-out;
}

.nav-link{
    /* postioning, layout */
    display: block;
    margin-bottom: 1em;

    /* typography, colors */
    font-size: 1.15em;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-link:hover{
    color: #907c33;
}

.mobile--nav-links > .button--white{
    margin-top: 5em;
}

.active{
    top: 100%;
}

.container--header-img{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../pics/header.jpg') no-repeat;
    filter: brightness(0.8);
    background-size: 200%;
    background-position: center;

    color: #fff;
    text-shadow: rgb(43, 43, 43) 1px 0 10px;
}

.header-img--caption{
    font-family: 'EB Garamond', serif;
    font-size: 3em;
    font-weight: 200;
}

.header-img--sub-caption{
    font-size: 1em;
}





@media  screen and (min-width: 768px) and (max-width: 1023px){

    .container--mobile-menu{
        /* positioning, layout */
        display: none;
    }

    .container--desktop-menu{
        /* positioning, layout */
        display: block;
        width: 100%;

        /* typography */
        background-color: #16151e;
    }
    .container--desktop-menu > div{
        /* positioning, layout */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 4em;

        /* typography */
        color: #fff;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .container--nav-links{
        /* positioning, layout */
        display: flex;
        align-items: center;
        padding: 1.2em 2em;
        background-color: #17161f;

        /* typography */
        list-style: none;
    }

    .nav-link{
        /* positioning, layout */
        margin: 0 2.5em;

        font-size: 0.75em;
    }
    
    .header-img--caption{
        font-size: 5em;
    }
    
    .header-img--sub-caption{
        font-size: 1.5em;
    }
    
}

@media  screen and (min-width: 1024px){
    .container--header{
        height: 100vh;
    }
    .container--mobile-menu{
        /* positioning, layout */
        display: none;
    }

    .container--desktop-menu{
        /* positioning, layout */
        display: block;
        width: 100%;

        /* typography */
        background-color: #16151e;
    }
    .container--desktop-menu > div{
        /* positioning, layout */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 4em;

        /* typography */
        color: #fff;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .container--nav-links{
        /* positioning, layout */
        display: flex;
        align-items: center;
        padding: 1.2em 2em;
        background-color: #17161f;

        /* typography */
        list-style: none;
    }
    .nav-link{
        /* positioning, layout */
        margin: 0 1.5em;

        font-size: 1em;
    }

    .container--header-img{
        height: 85vh;
        background-size: 150%;
    }

    .header-img--caption{
        font-size: 6em;
    }
    
    .header-img--sub-caption{
        font-size: 1.5em;
    }
    
}